div.toggler{
    position:fixed;
    bottom:40px;
    left:20px;
    background-color:#fff;
    z-index:2;
}

div.toggler button{
    background-color:#fff;
    appearance:none;
    border:none;
    font-family:inherit;
    padding: 5px 10px;
    margin: 0 1px 0 0;
    color: grey;

}

div.toggler button.selected{
    color:#000;
    
}